<div class="row">
    <div class="column xl-12">
        <h1 class="page-title">
            <span class="page-title__small-type text-pretitle">{{ Model.ContentItem.Content.HtmlBodyPart.Html }}</span>
            {{ Model.ContentItem.DisplayText }}
        </h1>
    </div>
</div>
