<!DOCTYPE html>
<html lang="{{ Culture.Name }}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>
    
    {% resources type: "Meta" %}

    <!-- INSERT REQUIRED RESOURCES HERE -->

     <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
</head>
<body id="top" dir="{{ Culture.Dir }}">

     <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>ow 
            <div></div>
            <div></div>
        </div>
    </div>

    
    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="/">
                            <img src="images/logo.svg" alt="Vorda's den">
                        </a>
                    </div> 

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->
                
                {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_tag: "alias:main-menu" %}

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->

        

             <!-- # site main content
        ================================================== -->

        <section id="content" class="s-content">
            {% render_section "Header", required: false %}
            {% render_body %}
        </section>

        {% render_section "AfterContent", required: false %}
        
        {% render_section "Footer", required: false %}
        
    </div>

     
    {% script name:"jquery", use_cdn:"true", at:"Foot" %}

    <!-- Java Script
    ================================================== -->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    
    {% resources type: "FootScript" %}
</body>
</html>